{% extends "group14_app/app_base.html" %}
{% load static %}

{% block title %}
Contact
{% endblock title %}

{% block heading %}
<header>
    <section id="hero6">
        <h1>Group 14 - Contact Us</h1>
    </section>
</header>
{% endblock heading %}

{% block content %}
<main>
    <div class="container">
        <h3>Have a question? Get in touch with us!</h3>
        <p>Our team is happy to answer your questions. Fill out the form and we'll be in touch with you as soon as possible!</p>
        <br></br>
    {% if submitted %}
        Your queries has been submitted successfully!
        <br>
        <button type="submit" class="button2"> <a href="{% url 'contact' %}">Go Back to Our Contact Us!</a></button>

    {% else %}
        
        <form class="log"  action="" method=POST>
            {% csrf_token %}

            <br>{{ form.as_p }}</br>

            <button type="submit" class="button">Submit</button>

        </form>
    {% endif %}
    </div>
</main>
{% endblock %}