{% extends "group14_app/app_base.html" %}

{% block title %}
Log List
{% endblock title %}

{% block heading %}
{% endblock heading %}

{% block content %}
    <main>
        <div class="container1">
            <h3>The Record of Our Food Waste Log:</h3>
            <table>
                <thead>
                    <tr>
                        {% for field_name in field_names %}
                            <th>{{field_name}}</th>
                        {%endfor%}
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in log_list %}
                            <tr>
                                <td>{{log.log_id}}</td>
                                <td>{{log.name}}</td>
                                <td>{{log.waste_quantity}}</td>
                                <td>{{log.datetime}}</td>
                                <td>{{log.created_by}}</td>
                                <td>
                                    <ul>
                                        {% for location in log.location.all %}
                                        {{ location }}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% for organization in log.organization.all %}
                                        {{ organization }}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% for waste_item in log.waste_item.all %}
                                        {{ waste_item }}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td> <a href="{% url 'logupdate' log.id %}">Update</a></td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="button1"> <a href="{% url 'logform' %}">Add New Record</a></button>
    </main>
{% endblock content %}