{% extends "group14_app/app_base.html" %}

{% block title %}
Food Waste Log
{% endblock title %}

{% block heading %}
<header>
    <section id="hero5">
        <h1>Group 14 - Food Waste Log</h1>
    </section>
</header>
{% endblock heading %}

{% block content %}
<main>
    <div class="container">
        <h3>Our Food Waste Log:</h3>
        <p>Fill out the form below to track your wastes!</p>
        <br></br>
        <form class= "log" action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="button">Submit</button>
            <button type="submit" class="button2"> <a href="{% url 'loglist' %}">See Our Records!</a></button>
        </form>
    </div>
</main>
{% endblock content %}