{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}

        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <nav>
        <div class="menu">
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'list' %}">List</a></li>
                <li><a href="{% url 'data_model' %}">Data Model</a></li>
                <li><a href="{% url 'mitigation' %}">Mitigation</a></li>
            </ul>
        </div>
    </nav>

    {% block heading %}
    <header>
        <h1>ERROR: No Heading Supplied</h1>
    </header>
    {% endblock heading %}

    <main>
        {% block content %}
        <h1>ERROR: No Content Supplied</h1>
        {% endblock content%}
    </main>

    <footer>
        <div class="end">
            <h4>Copyright - Group 14</h4>
        </div>
    </footer>
</body>

</html>