{% load static %}

<html>

<head>
    <title>
        {% block page_title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <nav>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'list' %}">List</a>
        <a href="{% url 'details' %}">Details</a>
        <a href="{% url 'data_model' %}">Data Model</a>
    </nav>
    <div>
        {% block page_heading %}<h1>ERROR: No Heading Supplied</h1>{% endblock %}

        {% block main_body %}{% endblock %}
    </div>
</body>

</html>