{% extends "group14_app/app_base.html" %}

{% block title %}
Data Model
{% endblock title %}

{% block heading %}
<header>
    <section id="hero3">
        <h1>Group 14 - Data Model</h1>
    </section>
</header>
{% endblock heading %}

{% block content %}
<main>
    <div class="container">
        <h3>Team Member Details:</h3>

        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Student Id</th>
                    <th>Attendance Mode</th>
                </tr>
            </thead>
            <tbody>
                {% for team_profile in team_profiles %}
                <tr>
                    <td>{{ team_profile.name }}</td>
                    <td>{{ team_profile.id }}</td>
                    <td>{{ team_profile.attendance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Website Introduction:</h3>
    <table class="model">
        <thead>
            <tr>
                <th>Brief Introduction</th>
            </tr>
        </thead>
        <tbody>
            {% for group_intro in group_intros %}
            <tr>
                <td>{{ group_intro.brief}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="container">
        <h3>Food Waste List:</h3>

        <table class="model">
            <thead>
                <tr>
                    <th>Waste Type</th>
                    <th>Description</th>
                    <th>Page Ids</th>
                </tr>
            </thead>
            <tbody>
                {% for food_waste_list in list %}
                <tr>
                    <td>{{ food_waste_list.type }}</td>
                    <td>{{ food_waste_list.description }}</td>
                    <td>{{ food_waste_list.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h3>Food Waste Details:</h3>

        <table class="model">
            <thead>
                <tr>
                    <th>Waste Type</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody>
                {% for food_waste_detail in context %}
                <tr>
                    <td>{{ food_waste_detail.name }}</td>
                    <td>{{ food_waste_detail.desc }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h3>Mitigation:</h3>

        <table class="model">
            <thead>
                <tr>
                    <th>Waste Type</th>
                    <th>Solutions</th>
                </tr>
            </thead>
            <tbody>
                {% for mitigation_strategies in mitigation_strategies %}
                <tr>
                    <td>{{ mitigation_strategies.one }}</td>
                    <td>{{ mitigation_strategies.two }} <br> 
                        {{ mitigation_strategies.three }}</td>                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>
{% endblock content %}