{% extends "group14_app/app_base.html" %}
{% load static %} 

{% block title %}
Details
{% endblock title %}


<body>
    {% block heading %}
    <header>
        <section id="hero2">
            <h1>{{ food_waste_list.name }}</h1>
        </section>
    </header>
    {% endblock heading %}

    {% block content %}
    <div class="container">
        <p>{{ food_waste_list.desc|linebreaksbr }}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Household Waste</th>
                <th>Retail Waste</th>
                <th>Restaurant Waste</th>
                <th>Agricultural Waste</th>
                <th>Processing Waste</th>
                <th>Transportation Waste</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>67 million tonnes per year</td>
                <td>2.7 million tonnes per year</td>
                <td>400 tonnes per year</td>
                <td>6.7 million tonnes per year</td>
                <td>1,700 tonnes per year</td>
                <td>2,300 tonnes per year</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p>‎ </p>
        <p> Below shows the process of how food is wasted every year and the impacts</p>
        <p>‎ </p>
        <img src="{% static 'wastes.jpg' %}"/>
    </div>
    {% endblock content %}

    {% block info %}

    {% endblock info %}

</body>