{% extends "group14_app/app_base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %}
    List
    {% endblock %}
</head>

<body>
    {% block page_heading %}
    <header>
        <h1>List</h1>
    </header>
    {% endblock %}
    
    {% block main_body %}
    <div>
        <h3>Top Wasted Food In Australia</h3>
    </div>
    {% endblock %}
</body>

</html>