{% extends 'admin_g14/master.html' %}


{%block table%}

    {% if create %}
        {% if submitted %}
        <p class="success">
        The {{model}} <a href ={%url 'edit' model pk%}>{{name}}</a> is created successfully.
        </p>
        {% else %}
        <form action='' method="post" novalidate>
        <table>
        {{ f.as_table }}
        <tr>
        <td>&nbsp;</td>
        </tr>
        </table>
        <div class='save-buttons'>
            <input type="submit" value="Save">
        </div>
        {% csrf_token %}
        </form>
        {% endif %}
    {% endif %}
    
        {% if view%}
        <h2>Change {{model}}</h2>
            {%for row in rows%}
                <table>
                    <tr>
                        <tr>
                            <td><a class='list-view' href ={%url 'edit' model row.id%}>{{row}}<i class="fa-solid fa-square-check"></i><td/>
                        </tr>
                    </tr>
                </table>
            {%endfor%}
        {% endif %} 

        {%if delete%}
        <h2>Delete {{model}}</h2>  
            {%if deleted%}
                <p class="success">
                    Record/s are succesfully deleted. Thank you.
                <br><a href ={%url 'admin-home'%}>Go to Admin home Page<br>
            {%else%}
                <form action={%url 'delete' model%} method="post" novalidate>
                    <table>
                        <tr>
                            {%for row in rows%}
                            <tr>
                                <td><input type="checkbox" name="inputs" id="{{row.id}}" value={{row.id}} /><i class="fa-solid fa-square-check"></i><td/>
                                <td><a href ={%url 'edit' model row.id%}>{{row}}</td>
                            </tr>
                            {%endfor%}
                                <td><input type="Submit" value="Delete"></td>
                        </tr>
                    </table>
                {% csrf_token %}
                </form>
            {%endif%}
            <h3 class='error'>{{error}}</h3>
        {%endif%} 

{% endblock %}


